@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
}

@layer components {
}

 #searchItem {
  display: flex;
  align-items: center;
  gap: 10px;
} 
#resultContent{
  gap:20px; 
}
#resultBox{
  width:360px;

}

#searchBox{
max-width:360px;
}

.normal{
display:none;
}

.isActive{
display:block
}